[Unit]
Description=Sync data between Linux and Klipper
Wants=network.target
After=network.target

[Service]
WorkingDirectory=/gutenberg/apps/klipperPenguinBridge/
ExecStart=/gutenberg/apps/klipperPenguinBridge/.venv/bin/python /gutenberg/apps/klipperPenguinBridge/klipper-penguin-bridge.py
Restart=always
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target